*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
  color: var(--dark-text-color);
  font-family: "Fira";
  transition: all 0.3s ease-in;
}

@font-face {
  font-family: 'Fira';
  src: url('./assets/FiraCode-VariableFont_wght.ttf');
}

:root{
  --light-bg-color: #eee;
  --dark-bg-color: #3b444b;
  
  --light-text-color: ;
  --dark-text-color: #3b444b;

  --light-border-color: ;
  --dark-border-color: ;

  --bg-white: #fff;

  --shadow: #3b444b5d;
}